{
  "env": {
    "browser": true,
    "node": true
  },
  ecmaFeatures: {
      jsx: true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "indent": [2, 2],
    "strict": [2, "never"]
  }
}
